# System-specific Makefile overrides.
Makefile.override

# Binary/intermediate output files.
bin/
obj/

# Exclude large (and possible proprietary) assets.
assets/

# Potentially-sensitive session data.
*.sublime-workspace
